.container {
  flex: 1;
  display: flex;     
  background-color: var(--off-white2);
  padding: 5rem;
  justify-content: space-between;
}

.sub-container {
    width: 70%;
}
.banner {
    width: 20%;
}
